{% extends 'VRoomWebsiteBundle:Layout:base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    <div class="main-content wrapper">
        {{ form(form) }}
    </div>
{% endblock %}