{% extends 'VRoomWebsiteBundle:Layout:base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    Nouveau trajet
{% endblock %}

{% block form_row %}
    <div class="row">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        <div class="error">{{ form_errors(form) }}</div>
    </div>
{% endblock form_row %}
{% block content %}
    <div class="main-content wrapper">
        <h1>Ajouter un trajet</h1>
        {{ form(form) }}
    </div>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
    <script>
        function initialize() {
            var options = {
                types: ['(cities)'],
                componentRestrictions: {country: "fr"}
            };

            var input = document.getElementById('vroom_websitebundle_offer_path_startCity');
            new google.maps.places.Autocomplete(input, options);
            var input2 = document.getElementById('vroom_websitebundle_offer_path_endCity');
            new google.maps.places.Autocomplete(input2, options);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}