.container {
    box-shadow: 0px -5px 12px 4px #555;
    margin: 0 7%;
    padding: 7px;
}

.banner {
    width: 100%;
    height: 400px;
    background-color: #aaa;
}
.nav {
    height: 40px;
    margin: 10px 0;
    padding: 0 2.4%
}

.nav a {
    padding: 9px 15px;
    background-color: #3498db;
    border-bottom: 5px solid #096079;
    line-height: 40px;
    height: 40px;
    position: relative;
}
.nav .btn {
    display: inline-block;
}


.nav a:hover {
    top: -2px;
    border-bottom-width: 7px;
}


.nav a:active {
    border-bottom: 0px;
    top: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

section {
    display: inline-block;
    width: 45%;
    text-align: justify;
    margin: 0 2.2%;
}

input[list],
input[type=date],
input[type=text],
input[type=submit] {
    box-sizing: content-box;
    border: 1px solid #aaa;
    height: 25px;
    width: 27%;
    padding: 0 5px;
}

input[type=date],
input[type=submit] {
    width: 17.75%;
}

.search {
    text-align: center;
    
}