
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Champagne_Limousines';
    src: url('../font/Champagne_Limousines.eot');
    src: url('../font/Champagne_Limousines.eot') format('embedded-opentype'),
         url('../font/Champagne_Limousines.woff2') format('woff2'),
         url('../font/Champagne_Limousines.woff') format('woff'),
         url('../font/Champagne_Limousines.ttf') format('truetype'),
         url('../fotn/Champagne_Limousines.svg#Champagne_Limousines') format('svg');
}

html {
    font-family: "Champagne_Limousines" sans-serif;
    font-size: 26px;
    margin-top: 72px;
    height: 100%;
}

h1, h2 {
    font-size: 1.5em;
    margin-bottom: 25px;
}

.left {
    float: left;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
}

.btn {
    position: relative;
    top: 1px;
    font-family: "Champagne_Limousines" sans-serif;
    font-size: 0.6rem;
    color: #fff;
    background-color: #fe6c6c;
    border: 2px solid #c91a21;
    border-radius: 3px;
    width: 90px;
    height: 26px;
}

.btn-big {
    width: 120px;
    height: 34px;
    font-size: 0.8rem;
}

.input {
    width: 130px;
    height: 26px;
    border: 2px solid #c91a21;
    border-radius: 3px;
    margin: 0 10px;
}

.input-big {
    height: 34px;
}

.wrapper {
    padding: 0 2%;
}

.half {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}

.header {
    background-color: #fe6c6c;
    width: 100%;
    height: 72px;
    font-size: 0.55rem;
    color: #fff;
    line-height: 72px;
    vertical-align: middle;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-logo {
    height: 45px;
    margin-top: 13px;
}


.banner {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 410px;
    background-position: center;
}

.quote {
    position: absolute;
    left: 15%;
    font-family: "segoe ui" "open sans" Sans-Serif;
    font-weight: 300;
    height: 410px;
    line-height: 410px;
    display: inline-block;
    font-size: 1rem;
    color: #fff;
}

.quote p {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}

.slogan {
    position: absolute;
    right: 15%;
    font-weight: 300;
    font-size: 2rem;
    text-align: right;
    margin-top: 5%;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 2px
}

.search {
    background-color: #ffd6d4;
    height: 60px;
    font-size: 0.8rem;
    line-height: 60px;
    vertical-align: middle;
    border-bottom: 1px solid #a18383;
    margin-bottom: 20px;
}

.main-content {
    margin-top: 25px;
    text-align: justify;
}

.footer {
    background-color: #373737;
    width: 100%;
    height: 50px;
    color: #fff;
    vertical-align: middle;
    font-style: italic;
    
}

.footer img {
    height: 30px;
    margin-top: 10px;
}

.ride {
    line-height: 1.2em;
    display: inline-block;
    margin-bottom: 40px;
}

.thumbnail {
    width: 96px;
    height: 96px;
    margin-right: 15px;
    float: left;
    
}

.avatar {
    display: inline;
    margin-top: -11px;
    width: 64px;
    height: 64px;
    vertical-align: middle;
    margin-right: 40px;
}

.username {
    font-size: 1rem;
}

.caret {
    margin: 0 10px;
    font-size: 0.8rem;
}

.avatar-big {
    width: 210px;
    height: 210px;
    padding: 5px;
    border: 2px solid #8c8c8c;
    border-radius: 5px;
    box-shadow: 0 0 12px #666;
    display: inline-block;
    float: left;
    margin-right: 50px;
}

.avatar-big img {
    width: 100%;
    height: 100%;
}


.summary:after {
    top: 40px;
    position: relative;
    clear: both;
    content:' ';
    background-image: url("../images/shadow.png");
    width: 100%;
    height: 40px;
    display: block;
    background-size: cover;
    background-position: 0 0;
}

.username {
    margin-bottom: 30px;
}

.stats {
    margin-top: 100px;
}

.comment {
    display: block;
    font-size: 0.6rem;
    margin-bottom: 15px;
}

.ride p {
    line-height: 0.7rem;
}

@media (min-width: 1120px) {
    .wrapper {
        padding: 0 18%;
    }

    .slogan {
        font-size: 2.5rem
    }

    .quote {
        font-size: 1.2rem;
    }
}

.clearfix {
    clear: both;
    overflow: auto;
    zoom: 1;
}