<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VRoom</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="banner"></div>
            <nav class="nav">
                <div class="left">
                    <a href="#">Proposer un voyage</a>
                </div>
                <div class="right">
                    <a href="#">Inscription</a>
                    <a href="#">Connexion</a>
                </div>
            </nav>
        </header>
        <div class="search">
            <form action="#">
                <input type="text" name="start" placeholder="Ville de départ">
                <input type="text" name="end" placeholder="Ville d'arrivée">
                <input type="datetime-local" name="date">
                <input type="submit" value="Rechercher">
            </form>
        </div>
        <div class="main">
            <section class="last-add">
                <header class="title">Derniers voyages ajoutés</header>
                <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nisi asperiores ad incidunt excepturi fuga hic, eius culpa possimus voluptates, exercitationem nostrum architecto commodi soluta blanditiis, voluptatibus rerum harum illum.</article>
                <article>Porro pariatur delectus, similique provident praesentium asperiores et voluptatibus iste aut minima eum velit, deserunt nobis, temporibus ea harum, sequi fuga. Aspernatur fugit odit veritatis nulla est, commodi autem delectus?</article>
                <article>Labore, libero a officia fuga animi, quas quo eum ea in numquam consectetur necessitatibus, repudiandae. Officiis dolor, explicabo quod porro fugiat nam cum inventore rerum. Accusamus dolorum quae illum debitis!</article>
                <article>Deleniti fugit totam enim, ea ipsam eum ipsa laboriosam ducimus error sit ab fugiat soluta in iure beatae, qui quo saepe quod? Laboriosam aut quibusdam dolorum aspernatur non totam ea.</article>
                <article>Praesentium, ducimus, eligendi. Vitae nihil nam fugiat sunt quisquam error eos laborum sequi repudiandae distinctio mollitia, et recusandae beatae temporibus doloribus dolores reprehenderit vel dolorum, sapiente alias. Debitis, quae beatae.</article>
            </section>
            <section class="last-search">
                <header class="title">Derniers voyages recherchés</header>
                <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nisi asperiores ad incidunt excepturi fuga hic, eius culpa possimus voluptates, exercitationem nostrum architecto commodi soluta blanditiis, voluptatibus rerum harum illum.</article>
                <article>Porro pariatur delectus, similique provident praesentium asperiores et voluptatibus iste aut minima eum velit, deserunt nobis, temporibus ea harum, sequi fuga. Aspernatur fugit odit veritatis nulla est, commodi autem delectus?</article>
                <article>Labore, libero a officia fuga animi, quas quo eum ea in numquam consectetur necessitatibus, repudiandae. Officiis dolor, explicabo quod porro fugiat nam cum inventore rerum. Accusamus dolorum quae illum debitis!</article>
                <article>Deleniti fugit totam enim, ea ipsam eum ipsa laboriosam ducimus error sit ab fugiat soluta in iure beatae, qui quo saepe quod? Laboriosam aut quibusdam dolorum aspernatur non totam ea.</article>
                <article>Praesentium, ducimus, eligendi. Vitae nihil nam fugiat sunt quisquam error eos laborum sequi repudiandae distinctio mollitia, et recusandae beatae temporibus doloribus dolores reprehenderit vel dolorum, sapiente alias. Debitis, quae beatae.</article>
            </section>
        </div>
    </div>
</body>
</html>